/* Hero specifics */

.customSection {
    padding-top: var(--spacing-size-lg);
    padding-bottom: var(--spacing-size-lg);
}

@media (min-width: 960px) {
    .customSection {
        padding-top: var(--spacing-size-xxl);
        padding-bottom: var(--spacing-size-xxl);
    }
    
}

.customSection:first-child {
    padding-top: 0;
}

.searchBar {
    max-width: 80%;
    margin: 0 auto;
    box-shadow: 0px 2px 80px 2px #0000000F;
    border-radius: 10px;
    padding: 2rem 1.25rem;
}

@media (min-width: 960px) {
    .searchBar {
        max-width: 80%;
    }
}

.bgGray {
    background-color: var(--color-palette-gray-100);
}

@media (min-width: 720px) {
    .heroImageWidth {
        max-width: 150% !important;
    }
}

@media (min-width: 960px) {
    .heroImageWidth {
        max-width: 130% !important;
    }
}